// SVG Animated signature
svg#signature {
    width: 100%;
}

#signature #Layer_1,
#signature #Layer_2 {
    transform: translate(-280px, -290px);
}

@for $i from 1 through 7 {
    #signature #Layer_2 > path:nth-child(#{$i}) {
        fill: none;
        stroke: white;
        stroke-width: 10;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 2s normal forwards ease;
        clip-path: url(#letter-#{$i});
    }
}

#signature #Layer_2 > path:nth-child(1) {
    animation-delay: 0.2s;
}

#signature #Layer_2 > path:nth-child(2) {
    animation-delay: 1s;
}

#signature #Layer_2 > path:nth-child(3) {
    animation-delay: 1.3s;
}

#signature #Layer_2 > path:nth-child(4) {
    animation-delay: 2s;
}

#signature #Layer_2 > path:nth-child(5) {
    animation-delay: 2.75s;
}

#signature #Layer_2 > path:nth-child(6) {
    animation-delay: 4.3s;
}

#signature #Layer_2 > path:nth-child(7) {
    animation-delay: 5s;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
