.App {
  text-align: center;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-data {
  position: absolute;
  top: calc(50% - (620px / 2));
  // left: calc(50% - (300px / 2));
  padding: 20px 40px;
}

h1 {
  animation: Opaque 2s normal forwards ease;
  animation-delay: 5s;
  opacity: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-weight: 600;
  font-size: calc(2vmin + 20px);
  letter-spacing: -2px;
  text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
}

.insta {
  color: #ffffff;
  transition: all 0.3s ease-in;

  animation: Opaque 2s normal forwards ease;
  animation-delay: 5.2s;
  opacity: 0;

  &:hover {
    color: #dddddd;
  }
}
// .dots {
//   overflow: hidden;
//   opacity: 0;
// }

// .dots:nth-child(1) {
//   animation: dota 3s normal forwards ease;
//   animation-iteration-count: infinite;
//   animation-delay: 7s;
// }
// .dots:nth-child(2) {
//   animation: dotb 3s normal forwards ease;
//   animation-iteration-count: infinite;
//   animation-delay: 7s;
// }
// .dots:nth-child(3) {
//   animation: dotc 3s normal forwards ease;
//   animation-iteration-count: infinite;
//   animation-delay: 7s;
// }

// Keyframe animation defeinition
@keyframes dota {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dotb {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dotc {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Opaque {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
