body {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;
}

main {
  // background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQYV2NkQAUNjEj8BgYGBrgAmAOSBKmAc0ACAGLuA4Vo13T4AAAAAElFTkSuQmCC");
  background: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

input {
  outline: none;
}
